.lesson-layout {
  height: 100%;
}

.lesson-layout > nz-sider {
  overflow: auto;
  height: 94%;
  position: fixed;
  left: 0;
}

.lesson-layout > nz-layout {
  padding-left: 200px;
}

nz-breadcrumb {
  margin: 12px 0;
}

.lesson-layout > nz-layout > nz-content {
  padding: 12px;
}

