<div>
  <div class="search-content">
    <mat-progress-bar
        [hidden]="!showLoading"
        color="warn"
        mode="indeterminate"></mat-progress-bar>

    <form class="search-component"
          [formGroup]="searchForm"
          novalidate>
      <mat-form-field color="warn">
        <input
            matInput
            type="text"
            placeholder="Search"
            (keyup.enter)="search()"
            autocomplete="off"
            formControlName="query">
        <mat-icon matPrefix>search</mat-icon>
        <mat-icon matSuffix
                  class="clickable"
                  *ngIf="searchForm.get('query').dirty"
                  (click)="clear()">clear
        </mat-icon>
      </mat-form-field>
    </form>

    <div *ngIf="searchLang">
      Current lang: <i>{{'language.' + searchLang | translate}}</i>
    </div>

    <div class="button-row">
      <button mat-raised-button
              matTooltip="{{'search.settings.button' | translate}}"
              (click)="showSettings()">
        <mat-icon>tune</mat-icon>
      </button>

      <button mat-raised-button
              matTooltip="{{'search.button' | translate}}"
              color="warn"
              (click)="search()">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>

  <div #list_content class="list-content" *ngIf="results && results.length > 0">
    <mat-selection-list [multiple]="false">
      <mat-list-option *ngFor="let result of results; let last = last"
                       class="clickable"
                       (click)="onShowDetails(result)">
        <p matLine>
          <span *ngIf="result.kanji" class="japanese search_kanji" [innerHTML]="result.kanji | safeHtml"></span>
          <span *ngIf="result.kanji"> - </span>
          <span class="small_japanese search_kana"
                [innerHTML]="result.kana | safeHtml"></span>
        </p>
        <p matLine>
          <span [innerHTML]="result.vocabulary | safeHtml"></span>
        </p>
        <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
      </mat-list-option>
    </mat-selection-list>
  </div>

  <!--<div class="help-content"-->
  <!--*ngIf="!results || results.length == 0">-->
  <!--<b>Astuces de recherche :</b>-->
  <!--<ul>-->
  <!--<li>par défaut : match exactement les mots saisis (ex : eau chaude)</li>-->
  <!--<li>commence par : suffixer avec un * (ex : cha*)</li>-->
  <!--<li>NOT : le préfixer par un ! (ex : eau ! chaude)</li>-->
  <!--<li>OR : préfixer par un ? (ex : eau ? chaude)</li>-->
  <!--<li>et tout peut se combiner (ex : eau ? cha*)</li>-->
  <!--</ul>-->
  <!--</div>-->
</div>
