:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  min-height: 100vh;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.app-layout > nz-header {
  position: fixed;
  width: 100%;
}

.app-layout > nz-content {
  margin-top: 64px;
}

.app-layout > nz-footer {
  text-align: center;
  padding-bottom: 12px;
  padding-top: 12px;
}
