<nz-layout class="app-layout">
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu nzMode="horizontal" nzTheme="dark">
      <li nz-menu-item routerLink="/lessons/1"><i [nzTheme]="'outline'" [nzType]="'translation'" nz-icon></i> Lessons
      </li>
      <li nz-menu-item routerLink="/dictionary"><i [nzTheme]="'outline'" [nzType]="'read'" nz-icon></i> Dictionary</li>
    </ul>
  </nz-header>
  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>
  <nz-footer>Frog Development ©2021</nz-footer>
</nz-layout>
