<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <logger name="com.frogdevelopment" level="TRACE"/>
    <!--<logger name="org.springframework.jdbc" level="TRACE"/>-->

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
