<div>
  <div class="details-content">
    <div *ngIf="details.kanji"
         class="japanese details-kanji">{{details.kanji}}
    </div>
    <div *ngIf="details.kana"
         class="japanese details-kana">{{details.kana}}
    </div>
    <div *ngIf="details.reading"
         class="details-reading">{{details.reading}}
    </div>
    <div class="details-vocabulary">
      {{details.gloss}}
    </div>

    <button mat-raised-button (click)="goBack();">BACK</button>

  </div>
  <div class="details-sentences">
    <mat-list>
      <mat-list-item *ngFor="let sentence of details.sentences; let last = last">
        <p matLine>
          <span class="small_japanese search_kanji" [innerHTML]="sentence.japanese | safeHtml"></span>
        </p>
        <span matLine [innerHTML]="sentence.translation | safeHtml"></span>
        <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
</div>
